%header
  %nav.navbar.navbar-default.navbar-static-top
    %div.container
      %div.navbar-header
        = link_to root_path, class: "navbar-brand" do
          %span Meals And Deals
      %div.navbar-collapse
        - if user_signed_in?
          %ul.nav.navbar-nav
            %li
              = link_to "Home", root_path
            %li
              = link_to "Menu", courses_path
            %li
              = link_to "Orders", orders_path
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to "My API token", get_auth_token_path
            %li
              = link_to "Edit profile", edit_user_registration_path
            %li
              = link_to "Log out", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "Sign up", new_user_registration_path
            %li
              = link_to "Sign in", new_user_session_path
