!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title JetrubyMeals
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :head
  %body
    %p.notice= notice
    %p.alert= alert
    -#= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-default"
    = yield
